{% extends "base.htm" %}
{% block content %}

<h1>Car Rego Checker</h1>

<p></p>

{% if current_user.is_anonymous %}
<p>Hi, You Havn't Logged In, You Can View Cars!</p>
{% else %}
<h1>Hi, {{ current_user.username }}, how are you today!</h1>
{% endif %}
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% from "_formhelpers.htm" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>

<br>
<br>
<br>

<body style="background-color:powderblue;">
<h4 style="color:rgb(10, 1, 1);">Emails will be automatically sent to drivers and managers if the car is expirying in 30, 25, 20, 15, 10, 5 and 0 days at 6pm everyday.</h4>
<h5 class="emailfield" style="color:red;">If you find any bug or any improvment if you feel is necessary, please send email to jason.wu@tpgtelecom.com.au. (Attach any screenshot if you see any bug)
  <a href="mailto:jason.wu@tpgtelecom.com.au?subject=Car Rego Checker Web Bug Report&body= **********Please Include Your Query in Below : **********">
    <button id="btnOutlook">Send To Jason</button>
</h5>

</body>

<br>

<img class="carimage" src="/static/amg_gt.jpg" alt="MY_AMG_GT"> 
{% endblock %}