{% extends "base.htm" %}
{% block content %}

<h1>Upload CSV</h1>

<p></p>


{% from "_formhelpers.htm" import render_field %}
<title>Upload an excel file</title>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Excel file upload (csv, tsv, csvz, tsvz only)</h1>


    <form action="{{url_for('file_upload')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button class= "submit_button" type="submit" onclick="JavaScript:alert('You file will be uploaded now')"> Submit </button>
    </form>
    
<br>
<br>
<br>

<div class="output">
    {{data | safe}}
    {% include btn ignore missing %}
  </div>
</div>

{% endblock %}